.alert {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  .alert-title {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.alert-success {
  background-color: white;
  color: $text-color;
  border: 0;
}
