.booking-modal {
  .modal-body {
    @extend %flex-modal;
    background-color: $blue;
    color: $white;
    padding: 0;
  }

  .form-side {
    padding: 20px;

    @media(min-width: $screen-sm) {
      padding: 22px;
    }

    @media(min-width: $screen-md) {
      padding: 20px 45px 0 45px;

      form {
        padding-right: 30px;
      }
    }

    h1 {
      font-size: 40px;
    }

    .lead {
      font-size: 25px;
    }

    p {
      font-size: 18px;
      font-weight: 200;
    }

    .gform_description {
      font-size: 16px;
      line-height: 1.25em;
      font-weight: 200;
    }

    .button,
    .btn-primary {
      background-color: darken($blue, 10%);
      color: $white;
      border: solid 1px $white;
      width: 100%;
      display: block;
      border-radius: 0;
      border: none;
      font-family: $headings-font-family;
      font-size: $font-size-medium;
      text-align: center;

      &:hover {
        background-color: $white;
        color: darken($blue, 10%);
        border-color: darken($blue, 10%);

      }
    }
  }

  .events-side {
    @extend %map-background;
    color: $blue;

    .tribe-events-page-title {
      font-family: $font-family-serif;
      text-align: center;
      margin-top: 43px;
      font-size: 40px;

      @media(max-width: 768px){
        font-size: 37px;
        margin-top: 20px;
        padding-top: 15px;
      }
    }
  }

  .waa-event-filters {
    margin: 10px auto;

    @media(min-width: $screen-md) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .event-category {
    font-family: $font-family-sans-serif;
    -webkit-appearance: none;
    border: none;
   -webkit-border-radius: 0px;
    background-color: $grey;
    padding: 10px;
    width: 100%;
    color: darken($grey, 50%);
    background-image: url('../../assets/images/arrow.png');
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 35px;

    @media(max-width: $screen-sm) {
      margin-top: 20px;
    }
  }

  .modal-header {
    background-color: $blue;
    margin-bottom: -1px;

    @media(min-width: $screen-sm) {
      position: absolute;
      top: 0;
      right: 0;

    }

    .close {
      font-weight: 200;
      color: $blue;

      @media(max-width: $screen-sm) {
        position: relative;
        color: $white;
      }
    }
  }
}

@media(max-width: $screen-sm) {
  .booking-modal {
    .modal-body > .clearfix {
      display: block;
    }
  }

  .modal-dialog {
    margin: 0;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .modal-dialog {
    width: 680px;
  }
}


/*Commented out for now*/
.arrow-next,
.arrow-prev {
  background-image: url('../../assets/images/arrow-grey.svg');
  background-repeat: no-repeat;
  background-size: 35px;
  height: 35px;
  width: 35px;
  display: block;
  position: absolute;
  top: 25px;

  @media(min-width: 768px){
    top: 53px;
  }
}

.arrow-next {
  right: 19px;

  @media(min-width: 768px){
    right: 10px;
  }

  @media(min-width: 992px){
    right: 50px;
  }
}

.arrow-prev {
  left: 19px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  @media(min-width: 768px){
    left: 10px;
  }

  @media(min-width: 992px){
    left: 50px;
  }
}

.event-type-list {
  margin: 10px auto;

  @media(min-width: 768px){
    margin-left: 20px;
  }
}

.event-type-item {
  $icon-size: 28px;
  position: relative;
  padding-left: (5 + $icon-size);
  margin-bottom: 10px;
  font-family: $headings-font-family;
  font-size: 25px;
  line-height: 1.1em;
  display: inline-block;
  margin-left: 10px;

  @media(min-width: 768px){
    margin-left: 0;
    width: 50%;
    float: left;
  }

  &:before {
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    height: $icon-size;
    width: $icon-size;
    left: 0;
  }

  &.birthday-party {
    &:before {
      background-image: url('../../assets/images/calendar/purple-date.png');
    }
  }

  &.holiday-clubs {
    &:before {
      background-image: url('../../assets/images/calendar/brown-date.png');
    }
  }

  &.school-activities {
    &:before {
      background-image: url('../../assets/images/calendar/blue-date.png');
    }
  }

  &.team-building {
    &:before {
      background-image: url('../../assets/images/calendar/green-date.png');
    }
  }
}
