.tribe-events-ajax-loading {
  display: none;
}

.tribe-events-calendar-wrap {
  color: $blue;

  @media(min-width: $screen-md) {
    padding: 0 30px;
  }
}

.tribe-events-calendar {
  width: 100%;

  td, th {
    text-align: center;
  }

  td {
    width: 14.285714286%;
    padding-top: 10px;
    padding-bottom: 10px;

    .day-number {
      font-size: 22px;
      padding: 0 5px;
      display: inline-block;
      color: $blue;
      min-width: 32px;

      a {
        color: $blue;
        text-decoration: underline;
      }
    }

    &.active {
      &[data-event-category="holiday-clubs"] .day-number,
      &[data-event-category="school-activities"] .day-number,
      &[data-event-category="team-building"] .day-number {
        background: transparent none no-repeat 0 0;
        background-size: 100% 100%;

        a {
          color: $white;
          text-decoration: none;
        }
      }

      &[data-event-category="holiday-clubs"] .day-number {
        background-image: url('../../assets/images/calendar/brown-date.png');
      }

      &[data-event-category="school-activities"] .day-number {
        background-image: url('../../assets/images/calendar/blue-date.png');
      }

      &[data-event-category="team-building"] .day-number {
        background-image: url('../../assets/images/calendar/green-date.png');
      }
    }
  }
}

.tribe-events-month {
  font-family: $font-family-serif;
}

.tribe-events-calendar {
  td {
    &.active {
      &[data-event-category="birthday-party"] .day-number,
      &[data-event-category="holiday-clubs"] .day-number,
      &[data-event-category="school-activities"] .day-number,
      &[data-event-category="team-building"] .day-number {
        background: transparent none no-repeat 0 0;
        background-size: 100% 100%;

        a {
          color: $white;
          text-decoration: none;
        }
      }

      &[data-event-category="birthday-party"] .day-number {
        background-image: url('../../assets/images/calendar/purple-date.png');
      }

      &[data-event-category="holiday-clubs"] .day-number {
        background-image: url('../../assets/images/calendar/brown-date.png');
      }

      &[data-event-category="school-activities"] .day-number {
        background-image: url('../../assets/images/calendar/blue-date.png');
      }

      &[data-event-category="team-building"] .day-number {
        background-image: url('../../assets/images/calendar/green-date.png');
      }
    }
  }
}


