.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .contact-item {
    line-height: 1.5em;
    position: relative;
    margin-bottom: 35px;
    padding-left: 45px;

    .fa-stack {
      position: absolute;
      left: -10px;
      top: -5px;
    }

    .fa-circle {
      color: $grey;
    }

    .alt-link {
      text-decoration: none;
      color: $text-color;
    }
  }
}

.contact-container {
  margin-bottom: 25px;

  .gform_title {
    margin-top: 0;
  }

  .gform_wrapper input[type=text], .gform_wrapper textarea {
    background-color: $grey;
    box-shadow: none;
    border: 0;
  }
}

.contact-padding {
  padding: 30px;
}
