.ui-selectmenu-button.ui-button {
  font-family: $headings-font-family;
  font-size: $font-size-h2;
  color: $green;
  white-space: normal;
  line-height: 1.12em;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background-color: $green;
  border: none;
  color: white;
}

.ui-widget.ui-widget-content {
  background-color: $grey;
  border: none;
  border-radius: 0;
}

.ui-button .ui-icon {
  display: none;
}

.ui-selectmenu-button.ui-button,
.input-type-dotted-underline {
  background-color: $white;
  border: none;
  border-radius: 0;
  border-bottom: 2px dotted $light-green;
  margin-bottom: 6px;
  -webkit-appearance: none;
  text-align: center;

  &:focus {
    outline: none;
  }
}

fieldset {
  display: inline-block;
}

.activity-type .ui-selectmenu-button.ui-button {
  @media(max-width: $screen-md) {
    text-align: left;
    font-size: 40px;
  }
}

.ui-selectmenu-text {
  color: $light-green;
  @media(max-width: $screen-md) {
    font-size: 38px;
  }

  &.active {
    color: $green;
  }
}

.activity-num-of-people,
.activity-date {
  color: $light-green;

  &.active {
    color: $green;
  }
}
