.feedback-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .feedback-item-inner {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    width: 80%;
  }

  li {
    display: block;
    margin-bottom: 24px;
  }


  li .feedback-item-inner:before,
  li .feedback-item-inner:after {
    font-size: 300px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    position: absolute;
    top: 10px;
    line-height: .8em;
    color: #f2f2f2;

    @media(max-width: $screen-xs-max) {
      font-size: 235px;
    }
  }
  li:nth-of-type(even) {
    text-align: right;

    .feedback-item-inner {
      text-align: right;

      &:before {
        content: "\201C";
        left: -125px;
        font-family: 'Georgia';

        @media(max-width: $screen-xs-max) {
          left: -100px;
        }
      }
    }
  }

  li:nth-of-type(odd) {
    .feedback-item-inner {
      &:after {
        content: "\201D";
        right: -90px;
        font-family: 'Georgia';

        @media(max-width: $screen-xs-max) {
          right: -62px;
        }
      }
    }
  }
}



.feedback-item {
  .author-details,
  .author {
    font-family: $font-family-sans-serif;
    font-weight: 500;
  }

  p,
  .large {
    font-family: 'Georgia';
    font-size: 22px;
    font-style: italic;
  }
}
