// Search form
.search-form {
  @extend .form-inline;
}

.search-form label {
  font-weight: normal;
  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

// gravity forms
.gform_wrapper {
  margin-bottom: 20px;

  .gform_fields {
    @extend .list-unstyled;

    > li {
      @extend .form-group;
    }
  }

  .gform_description {
    display: block;
    margin-bottom: 15px;
    font-size: $font-size-medium;
  }

  label {
    @extend .sr-only;
  }

  input[type="text"],
  textarea {
    @extend .form-control;
    font-family: $font-family-sans-serif;
    border-radius: 0;
    border: none;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }

  .validation_error {
    @extend .alert;
    @extend .alert-warning;
  }

  .gfield_error {
    @extend .has-warning;

    .validation_message {
      font-size: 18px;
      margin-top: 3px;
      text-align: center;
    }
  }

  .gform_confirmation_message {
    margin-bottom: 30px;
  }

  .gform_ajax_spinner {
    display: none;
  }
}

.gfield_price {
  font-size: 22px;

  .ginput_product_price_label {
    display: none;
  }
}

.gfield_quantity {
  font-size: 22px;

  .gfield_description {
    margin-bottom: 5px;
  }
}

.ginput_container_total {
  font-size: 22px;
}

.comment-form input[type=submit],
.gform_wrapper input[type=submit] {
  width: 100%;
  display: block;
  border-radius: 0;
  border: none;
  font-family: $headings-font-family;
  font-size: $font-size-medium;
  background-color: $green;
  text-align: center;

  &:hover {
    background-color: lighten($green,10%);
  }
}

.gform_wrapper {
  padding-bottom: 10px;
}
