.modal-header {
  padding: 0;
  border: 0 none;
  position: relative;
  z-index: 10;

  .close {
    opacity: 1;
    color: white;
    right: 20px;
    position: absolute;
    margin-top: 8px;
  }
}

.page-modal {
  h2 {
    font-family: $font-family-serif;
  }

  .modal-header {
  }

  .modal-content {
    @extend %flex-modal;
  }

  .modal-body {
    @extend %map-background;
    padding: 45px 30px;
  }

  .modal-right {
    text-align: right;
    background-color: $green;
    color: $white;
    padding-top: 45px;
    padding-bottom: 15px;

    img + img {
      margin-top: 15px;
    }
  }
}

[data-page="instructors"] {
  .model-body {
    .instructors {
      margin-top: 20px;
    }
  }

  .modal-right {
    text-align: left;

    .instructors {
      margin-top: 5px;
    }
  }
}

[data-page="contact-us"] {
  .modal-header .close {
    color: #000;
  }

  .modal-body {
    background-color: $brown;
    background-image: none;
    color: white;
  }

  .modal-right {
    background-color: white;
    @extend %map-background;
    text-align: left;
    color: $text-color;
  }
}
