/* Navigation bar */
$nav-bg-color: $green;
nav {
  background-color: $nav-bg-color;
}

.brand-wrap {
  position: relative;
  height: $logo-container-height;

  .brand {
    position: absolute;
    width: 100%;
    height: 70%;
    background: transparent url('../../assets/images/logo.png') no-repeat 50% 50%;
    top: 50%;
    left: 0;
    background-size: auto 100%;
    transform: translateY(-50%);

    // image replaced text
    overflow: hidden;
    text-indent: -200%;
  }
}

nav,
footer {
  text-align: center;
  line-height: 70px;
  font-family: $headings-font-family;
  font-size: $font-size-large;

  .nav-pills {
    > li {
      float: none;
      display: inline-block;
      padding-left: 0;
      padding-right: 15px;

      a {
        color: $white;
        padding-right: 10px;
        font-size: $font-size-large;

        &:hover,
        &:active,
        &:focus {
          background-color: transparent;
          text-shadow: 1px 1px 1px #000;
        }
      }

      a:not(:first-of-type) {
        padding-left: 0;
      }
    }
  }
}

.menu-top-menu-container {
  text-align: left;

  ul {
    padding-left: 0;
  }

  ul li {
    height: 100%;
    line-height: 1.8;

    @media(min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
      padding-right: 0;
    }
  }

  .sub-menu {
    @media(min-width: $screen-md-min) {
     display: none;
    }
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
}

.menu-top-menu-container .nav-pills >li.active > a:focus,
.menu-top-menu-container .nav-pills > li.active > a:hover,
.menu-top-menu-container .nav-pills > li.active > a {
  background-color: darken($nav-bg-color, 10%);
}

.enquire-now-link {
  $icon-size: 45px;
  display: inline-block;
  font-size: $font-size-medium;
  line-height: $line-height-normal;
  color: white;
  padding-right: 50px;
  vertical-align: middle;
  position: relative;

  @media (max-width: $screen-sm-min) {
    padding-left: 60px;
    padding-right: 0;
    text-align: left;
  }

  &:after {
    content: "";
    background-image: url('../../assets/images/enquiry.png');
    background-repeat: no-repeat;
    height: $icon-size;
    width: $icon-size;
    background-size: $icon-size;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0;
  }

  @media (max-width: $screen-sm-min) {
    &:after {
      content: none;
    }

    &:before {
      $icon-size: 35px;
      content: "";
      background-image: url('../../assets/images/enquiry.png');
      background-repeat: no-repeat;
      height: $icon-size;
      width: $icon-size;
      background-size: $icon-size;
      display: inline-block;
      position: absolute;
      left: 5px;
      top: 0;
    }
  }
}

/* Nav drop down enquiry form */
.enquire-now-wrap {
  &:hover,
  &:focus {
    background-color: transparent;
    text-shadow: 1px 1px 1px #000;
  }

  &.active {
    background-color: darken($nav-bg-color, 10%);
  }

  @media(max-width: $screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }
}

.enquiry-form {
  .gform_wrapper input[type=submit] {
    width: 100%;
    display: block;
    border-radius: 0;
    border: none;
    font-family: $headings-font-family;
    font-size: $font-size-medium;
    background-color: $green;
    text-align: left;
    background-image: url('../../assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 95% 50%;

    &:hover {
      background-color: lighten($green,10%);
    }
  }

  .ginput_container input {
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    background: $grey;
    box-shadow: none;
    padding: 23px 15px;
  }
}

.enquire-drop-down-menu {
  padding: 20px 0;
}

.enquiry-form-not-hidden {
  font-family: $headings-font-family;
  font-size: $font-size-h2;
  color: $green;
  white-space: normal;
  line-height: 1.12em;
  text-align: left;

  .form-title {
    color: $text-color;
    font-size: $font-size-large;

    @media(max-width: $screen-sm-min) {
      line-height: 1em;
    }
  }
  @media(max-width: $screen-xs-max) {
    font-size: 40px;
  }

  @media(max-width: $screen-md-min) {
    margin-bottom: 20px;
  }
}

.input-small {
  -webkit-appearance: none;
  width: 50px;
  @media(max-width: $screen-sm-min) {
    width: 90px;
  }
}

.activity-date {
  width: 155px;
  @media(min-width: $screen-sm) {
    width: 175px;
  }
}

.ui-date-picker {
  top: 219px;
}

/* Nav drop down adventure nav */
.header-nav-drop-down.adventure {
  .wrap {
    max-height: 243px;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
  }
}

.adventure-category-list {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

.adventure-category-list-item {
  display: inline-block;
  max-width: 240px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}

.adventure-category-list-item-title {
  display: block;
  max-width: 200px;
  font-size: $font-size-large;
  text-align: center;
  margin: 5px auto;
  margin-top: 10px;
  white-space: normal;
  line-height: 1em;
}

.adventure-category-list-item-overlay {
  display: none;
}

.adventure-category-list-item-link {
  font-family: $headings-font-family;
  color: $green;
  display: block;
  z-index: 5;

  &:hover {
    text-decoration: none;
  }
}

.adventure-category-list-item {
  position: relative;

  &:hover {
    cursor: pointer;

    .adventure-category-list-item-image {
      display: none;
    }

    .adventure-category-list-item-overlay {
      display: block;

      &:before {
        content: "";
        display: block;
        background-color: $green;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        opacity: .8;
      }

      .more {
        opacity: 1;
        font-family: $headings-font-family;
        color: white;
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: $font-size-large;

        &:after {
          right: 7px;
        }
      }

      &.team-building-corporate-events:before {
        background-color: $green;
      }

      &.schools:before {
        background-color: $blue;
      }

      &.holiday-clubs:before {
        background-color: $brown;
      }

      &.beach-days:before {
        background-color: $earth;
      }

      &.birthday-parties:before {
        background-color: $light-green;
      }
    }
  }
}

/* mobile menu */
.mobile-menu-wrap {
  $menu-green: darken($green, 10%);

  min-height: 300px;
  min-height: 100vh;
  width: 100%;
  background-color: rgba($menu-green, .95);
  position: absolute;
  left: 0;
  z-index: 100;
}

.mobile-menu-nav {
  text-align: center;
  margin-top: 20px;

  a {
    color: white;
    font-family: $headings-font-family;
    font-size: $font-size-h3;
    display: block;
  }

  .sub-menu {
    list-style-type: none;
    display: none;

    li a {
      font-size: 26px;
    }

    &.active {
      display: block;
    }
  }
}

.mobile-menu-icon {
  $icon-size: 40px;
  &:after {
    content: "";
    display: inline-block;
    background-image: url('../../assets/images/hamburger-closed.svg');
    background-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  &.active {
    $icon-size: 35px;
    &:after {
      background-image: url('../../assets/images/hamburger-open.svg');
      background-size: $icon-size;
      height: $icon-size;
      width: $icon-size;
    }
  }

  @media(max-width: $screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer-wrap {
  @media(max-width: $screen-sm-min) {
    padding: 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: darken($dark-green, 5%);
    }

    ul {
      width: 100%;
      padding: 20px 10px;
    }

    ul li {
      width: 49%;
      float: left;
      padding: 0;
      white-space: nowrap;
      text-align: left;
      min-height: 50px;
      vertical-align: middle;
      display: inline-block;

      a {
        line-height: 1em;
        padding: 0;
        font-size: 24px;
      }
    }

    ul li:nth-of-type(even) {
      padding-left: 20px;
    }
  }
  @media(max-width: $screen-xs-max) {
    ul {
      width: 100%;
      padding-left: 0;
    }
  }
}
