blockquote {
  border: 0 none;

  &.xl {
    color: $white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;

    span {
      display: block;
    }

    .thin {
      font-size: 67px;
      line-height: 1em;

      @media(max-width: $screen-md) {
        font-size: 35px;
      }
    }

    .thick {
      font-family: 'Umbrage Regular';
      font-size: 80px;
      line-height: 1em;

      @media (min-width: $screen-lg) {
        font-size: 108px;
      }

      @media(max-width: $screen-sm) {
        font-size: 56px;
      }
    }

    &.explore {
      &:before {
        @media(max-width: $screen-sm) {
          content: "";
          background: transparent url('../../assets/images/animals/eagle.png') no-repeat 50% 50%;
          width: $eagle-width;
          height: $eagle-height;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

.box-quote {
  background-color: $light-green;

  blockquote {
    padding: 0;
    color: $white;
    font-size: 40px;
    margin: 0;
    width: 100%;
    height: 100%;

    .quot {
      font-family: $headings-font-family;
      font-weight: 700;
      display: block;
      font-size: 3.5em;
      height: .2em;
      line-height: 0.9em;
      margin-bottom: 18px;
    }

    .said {
      height: 100%;
      line-height: 1.2em;
      font-size: 35px;
      margin-top: 10px;

      @media (min-width: $screen-md) and (max-width: $screen-lg-min) {
        margin-top: 0;
      }

      @media (max-width: $screen-md-min) {
        font-size: 20px;
      }
    }

    .cite {
      font-size: $font-size-small;
      padding-right: 10px;
      margin: 0;
      text-align: right;
    }
  }
}
