
.home-trellis {
  position: relative;
  z-index: 3;
  font-family: $headings-font-family;
  font-size: $font-size-large;

  .row div[class*="col-"] {
    margin-bottom: 30px;
  }

  .with-caption {
    position: relative;
    display: block;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, .8);
      text-align: center;
    }

    .find-out-more {
      content: 'Find out more';
      white-space: nowrap;
      font-size: $font-size-large;
      color: white;
      text-align: center;
      padding-right: 20px;

      &:after {
        width: 138px;
        margin: 0 auto;
        right: 0;
        left: 0;
        text-align: center;
      }
    }

    .caption {
      font-size: 54px;
      line-height: $line-height-normal;
      color: white;
      z-index: 2;
      display: block;

      @media(max-width: $screen-md-min) {
        font-size: 40px;
      }

      .first-word {
        display: block;
      }
    }

    .description {
      padding: 0 11%;
      display: block;
    }
  }

  .box.with-cite {
    .said {
      font-size: $font-size-big;

      @media (min-width: $screen-sm) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }

  }

  .school-activities {
    &:before {
      background-color: rgba($green, .8);
    }

    @media (min-width: $screen-sm) {
      margin-top: 110px;

      .caption {
        padding-left: 7%;
        padding-right: 7%;
      }
    }
  }

  .team-building {
    &:before {
      background-color: rgba($blue, .8);
    }
  }

  .new-skills {
    &:before {
      background-color: rgba($green, .8);
    }
  }

  .get-mucky {
    &:before {
      background-color: rgba(#8d4e3a, .8);
    }
  }

  .make-new-friends {
    &:before {
      background-color: rgba($blue, .8);
    }
  }

  .challenge-yourself {
    &:before {
      background-color: rgba(#424a32, .8);
    }
  }

  .experience-outdoors {
    &:before {
      background-color: rgba($blue, .8);
    }
  }

  .holiday-clubs {
    &:before {
      background-color: rgba($brown, .9);
    }

  }

  @media (min-width: $screen-sm) {
    a.box {
      &:before,
      .top,
      .center,
      .bottom {
        opacity: 0;
        transition: opacity 0.4s;
      }

      &.hover,
      &:hover,
      &:active,
      &:focus {
        &:before,
        .top,
        .center,
        .bottom {
          opacity: 1;
        }
      }
    }
  }
}

.home-trellis {
  @media(max-width: $screen-xs-max) {

    a.box.with-caption {
      max-height: 200px;
      overflow: hidden;

      &:after {
        border: 3px solid white;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
      }

      &:before {
        z-index: 1;
      }
    }



    .box .center {
      top: auto;
      bottom: 0;
      transform: none;
    }

    .with-caption {
      &:before {
        height: 50%;
        top: auto;
        bottom: 0;
      }

      .caption {
        top: auto;
        bottom: 0;
        transform: translateY(-25%);
        font-size: $font-size-h3;
        padding: 0 50px;
      }
    }
  }
}

.quote-background {
  background-color: $light-green;
}

.padding-clear-xs {
 @media(max-width: $screen-xs-max) {
    padding: 0;
  }
}

.home-trellis .margin-bottom-clear {
 @media(max-width: $screen-xs) {
    margin-bottom: 0 !important;
  }
}

.home-trellis .box.box-quote-xs {
  @media(max-width: $screen-sm-min) {
    background-color: transparent;

    &.with-cite {
      .said {
        top: 20px;
        font-size: 35px;
      }

      .bottom.cite {
        text-align: center;
      }
    }
  }
}

