/* sub-menu */
.adventures-sub-menu {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  background-color: $green;
  list-style-type: none;
}

.adventures-sub-menu-title {
  color: $white;
  display: block;
  padding: 24px;
  padding-right: 48px;
  background-color: $dark-green;
  position: relative;
  margin-top: 0;
  margin-bottom: 1px;

  &:before {
    $triangle-width: 25px;
    content: "";
    display: block;
    position: absolute;
    left: -$triangle-width;
    top: 0;
    width: 0;
    height: 0;
    border-top: 54px solid transparent;
    border-bottom: 54px solid transparent;
    border-right: $triangle-width solid $dark-green;
  }

  &.single {
    &:before {
      $triangle-width: 21px;
      content: "";
      display: block;
      position: absolute;
      left: -$triangle-width;
      border-top: 39px solid transparent;
      border-bottom: 39px solid transparent;
      border-right: $triangle-width solid $dark-green;
    }
  }
}

.adventures-sub-menu-item {
  padding: 0;

  &:active,
  &:focus,
  &.active,
  &:hover {
    background-color: $dark-green;
  }
}

.adventures-sub-menu-link {
  color: white;
  font-family: $headings-font-family;
  font-size: $font-size-large;
  display: block;
  padding: 12px 24px;

  &:focus,
  &:visited,
  &:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
    outline: none;
  }
}

.adventure-sub-menu-link-block {
  position: relative;

  @media(max-width: $screen-md) {
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.adventure-sub-menu-after-overlay {
  position: absolute;
  top: 67px;
  right: 0;
  left: 0;
  z-index: 5;
  font-family: $headings-font-family;
  font-size: $font-size-large;
  color: $white;
  text-align: center;
}

.adventure-sub-menu-link-text {
  display: block;
  text-align: center;

  &:after {
    left: 38px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
}

.adventure-sub-menu-title-text {
  font-size: 33px;
  padding: 5px 20px;
}

.image-wrapper {
  position: relative;
  z-index: 0;
  max-height: 250px;
  overflow: hidden;

  &:after {
    background-color: $blue;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .7;
  }
}

/* adjust angle mixin */
.angle-overlay {
  display: block;
  height: 5px;
  background-color: white;
  z-index: 1;

  &:after {
    z-index: 5;
    height: 100%;
  }
}

/* main content carousel */
$carousel-controls: 100px;
.adventure-carousel-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 441px;
}

.adventure-carousel-right {
  right: 0;

  &:after {
    left: 12px;
  }
}

.adventure-carousel-left {
  left: 0;

  &:before {
    margin-left: -50px;
  }

  &:after {
    left: 6px;
  }
}

.adventure-carousel-left,
.adventure-carousel-right {
  position: absolute;
  top: 40%;
  width: 50px;
  overflow: hidden;

  &:after {
    top: 40px;
  }

  &:before {
    content: "";
    display: block;
    height: $carousel-controls;
    width: $carousel-controls;
    background-color: black;
    opacity: .7;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}

/* main content */
.adventure-main-content-left-image {
  @media(min-width: $screen-md) {
    margin-left: -15px;
  }
}

.adventure-main-content-right-image {
  @media(min-width: $screen-md) {
    margin-left: 15px;
  }
}

.adventures-main-content-item-title {
  margin-top: 0;
}

.adventures-main-content-item-wrap {
  @media(min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;

    &.right {
      padding-right: 0;
    }

    &.left {
      padding-left: 0;
    }
  }
}

.adventure-carousel-img {
  @media(min-width: $screen-md) {
    min-width: 598px;
    margin: 0 auto;
  }
}

.image-wrap-col {
  @media (max-width: $screen-md) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.adventure-page-wrap {
  padding: 20px 40px;
}

.section-title-wrap {
  @media(max-width: $screen-md) {
    $icon-size: 40px;
    padding: 0;
    background: $bright-green;
    display: block;

    &.inner {
      margin-left: -15px;
      margin-right: -15px;
      background: $grey;
    }

    .section-title {
      margin: 0;
      padding: 15px 20px;
      position: relative;
      padding-right: 30px;
      font-size: $font-size-large;
      color: white;
      border-bottom: 2px solid darken($bright-green, 10%);

      &:after {
        content: "";
        background-image: url('../../assets/images/green-expand.svg') ;
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        display: inline-block;
        vertical-align: middle;
        top: 11px;
        background-size: $icon-size;
        height: $icon-size;
        width: $icon-size;
      }

      &.inner {
        border-bottom: 2px solid $white;
        color: $blue;
        &:after {
          background-image: url('../../assets/images/grey-expand.svg') ;
        }
      }
    }

    &.active-content {
      background: $bright-green;

      .section-title {
        color: white;

        &:after {
          background-image: url('../../assets/images/green-collapse.svg') ;
        }
      }
    }
  }
}

@media(max-width: $screen-md) {
  .section-main-content {
    display: none;

    &.active-content {
      display: block;
    }
  }

  .page-menu-collapsable {
    .angle-overlay,
    .adventure-sub-menu-link-block,
    .adventures-sub-menu-title {
      display: none;
    }

    .adventures-sub-menu {
      &:after {
        content: none;
      }
    }
  }
}
