.wrap {
  $adjust: 0.8;

  @media (max-width: $screen-xs-min) {
    max-width: ((400px * $adjust) + $grid-gutter-width);
  }

  @media (max-width: $screen-sm-min) {
    max-width: 500px;
  }

  @media (min-width: $screen-sm-min) {
    width: ((720px * $adjust) + $grid-gutter-width);
  }

  @media (min-width: $screen-md-min) {
    width: ((940px * $adjust) + $grid-gutter-width);
  }

  @media (min-width: $screen-lg-min) {
    width: ((1140px * $adjust) + $grid-gutter-width);
  }
}


.home {
  .wrap {
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
    }
  }
}
