@font-face {
  font-family: 'Umbrage Regular';
  src: url('../../assets/fonts/umbrage2-webfont.eot');
  src: url('../../assets/fonts/umbrage2-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/umbrage2-webfont.woff') format('woff'),
       url('../../assets/fonts/umbrage2-webfont.ttf') format('truetype'),
       url('../../assets/fonts/umbrage2-webfont.svg#umbrageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
