select {
  background: white;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}


/* IE hackery */

select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
      background:none\9;
      padding: 5px\9;
  }
}


/* remove spinners from input number field */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* IE fix to remove arrows on select */
input::-ms-expand {
    display: none;
}
