

%map-background {
  background: $white url('../../assets/images/map-bg.png') no-repeat 0 0;
  background-size: 100% auto;
}

%flex-modal {
  > .clearfix {
    display: flex;

    > div {
      float: none;
    }
  }
}

body {
  width: 100%;
  overflow-x: hidden;

  &.loading {
    cursor: wait;
  }
}

img {
  max-width: 100%;
}

.main-wrapper {
  background-color: $earth;
  background-image: url('../../assets/images/header.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
}

@media (min-width: $screen-sm) {
  .brand-wrap {
    .brand {
      width: 50%;
      left: 25%;
    }
  }
}

footer {
  $grass-height: 700px;
  background-color: $dark-green;
  position: relative;

  .nav {
    &:before {
      @extend %animal-icon;
      @extend %fox;
      display: none !important;
      top: -100px;
      right: -($fox-width / 4);
    }

    > li {
      > a[href*='facebook.com'] {
        padding-left: 38px;
        position: relative;

        &:before {
          content: '';
          background: transparent url('../../assets/images/social/facebook.png') no-repeat 0 0;
          float: left;
          width: 28px;
          height: 28px;
          background-size: 100% 100%;

          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    .nav:before {
      display: block !important;
    }
  }
}

body.home {
  footer {
    $grass-height: 700px;
    background-color: $dark-green;
    position: relative;

    @media(min-width: $screen-sm-min){
      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $grass-green;
        width: 100%;
        bottom: 70px;
        z-index: -1;
      }
    }

    @media(min-width: $screen-md) {
      &:before {
        height: $grass-height;
      }
    }

    @media(max-width: $screen-sm-min){
      footer:before {
        content: none;
      }
    }

    .container {
      position: relative;

      &:before,
      &:after {
        z-index: 0;
        @extend %animal-icon;
      }

      &:before {
        @extend %hare;

        top: -893px;
        left: -20px;
      }

      &:after {
        @extend %fish;

        @media(min-width: $screen-sm) {
          top: -1100px;
          right: 0;
        }
      }

      @media(max-width: $screen-md){
        .container:before,
        .container:after {
          content: none;
          display: none;
        }
      }
    }
  }
}
.home {
  .main-wrapper {
    background-image: url('../../assets/images/header.png');
    background-repeat: no-repeat;

    &:after {
      content: "";
      background-color: $grass-green;
      display: block;
      width: 100%;
      height: 51.5%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @media (min-width: $screen-sm) {
      &:after {
        z-index: 0;
        height: 33.5%;
      }
    }

    @media (min-width: $screen-lg) {
      &:after {
        z-index: 0;
        height: 32.5%;
      }
    }
    @media(min-width: $screen-md) {
      background-image: url('../../assets/images/animals/eagle.png'), url('../../assets/images/animals/squirrel.png'), url('../../assets/images/header.png');
      background-position: 15px 50%, 98% 810px, 50% 0;
      background-repeat: no-repeat, no-repeat, no-repeat;
    }
  }
}

body:not(.home) {
  .main {
    background-color: $white;
    margin-bottom: 100px;
  }

  .page-header {
    margin-top: 0;
  }
}

.post-type-archive {
  .main {
    background-color: $white;
  }
}

.instructors {
  margin: 40px 0;

  .instructor-name {
    @extend .h3;
  }

  .instructor-title {
    @extend .h4;
    margin-top: 0;
  }

  .instructor-image img {
    width: 100%;
    height: auto;
  }
}

.gform_footer {
  text-align: right;
}

.page-header {
  position: relative;
  border-bottom: 0;

  .close {
    position: absolute;
    right: 15px;
    top: 0;
  }


  &:after {
    content: "";
    display: block;
    background-image: url('../../assets/images/sketch-hr.svg');
    height: 3px;
    background-repeat: no-repeat;
    width: 100%;
    color: $light-green;
  }
}

/* Helper classes */
.padding-clear {
  padding: 0;
}

.margin-clear {
  margin: 0;
}

.margin-bottom-small {
  margin-top: 15px;
}

.padding-big {
  padding: 40px;
}

.padding-bottom-large {
  padding-bottom: 60px;
}

.padding-top-medium {
  padding-top: 30px;
}

.vertical-align-center-md {
  @media(min-width: $screen-md) {
    align-items: center;
    display: flex;
  }
}

.display-inline-block {
  display: inline-block;
}
