%animal-icon {
  @media(min-width: $screen-sm) {
    background-color: $white;
    content: '';
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
}

%pig {
  background: transparent url('../../assets/images/animals/pig.png') no-repeat 50% 50%;
  height: $pig-height;
  width: $pig-width;
}

%eagle {
  background: transparent url('../../assets/images/animals/eagle.png') no-repeat 50% 50%;
  height: $eagle-height;
  width: $eagle-width;
}

%deer {
  background: transparent url('../../assets/images/animals/deer.png') no-repeat 50% 50%;
  height: $deer-height;
  width: $deer-width;
}

%fish {
  @media(min-width: $screen-sm) {
    background: transparent url('../../assets/images/animals/fish.png') no-repeat 50% 50%;
    height: $fish-height;
    width: $fish-width;
  }
}

%owl {
  background: transparent url('../../assets/images/animals/owl.png') no-repeat 50% 50%;
  height: $owl-height;
  width: $owl-width;
}

%fox {
  background: transparent url('../../assets/images/animals/fox.png') no-repeat 50% 50%;
  height: $fox-height;
  width: $fox-width;
}

%hare {
  @media(min-width: $screen-sm) {
    background: transparent url('../../assets/images/animals/hare.png') no-repeat 50% 50%;
    height: $hare-height;
    width: $hare-width;
  }
}

%squirrel {
  background: transparent url('../../assets/images/animals/squirrel.png') no-repeat 50% 50%;
  width: $squirrel-width;
  height: $squirrel-height;
}
