@mixin angle-right-after {
  position: relative;
  z-index: 2;

  &:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5.5deg);
    transform-origin: 100%;
    z-index: -1;
  }
}

.angle-right-after {
  @include angle-right-after;
}

@mixin angle-left-before {
  position: relative;
  z-index: 2;

  &:before {
    background: inherit;
    bottom: auto;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-7.5deg);
    transform-origin: 0;
    z-index: -1;
  }
}

.angle-left-before {
  @include angle-left-before;
}


@mixin sketch-line-after {
  &:after {
    content: "";
    display: block;
    background-image: url('../../assets/images/sketch-line.svg');
    height: 3px;
    background-repeat: no-repeat;
    width: 150px;
    color: white;
    background-size: 114px;
    position: absolute;
  }
}

.sketch-line-after {
  @include sketch-line-after;
}

.sketch-arrow {
  &:after {
    content: "";
    display: block;
    background-image: url('../../assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &.flip {
    &:after {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}
