// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 0;

// Colors
$text-color: #404f68;
$brand-primary: #27ae60;

$white: #fff;
$grey: #e5e5e5;
$green: #49711e;
$light-green: #8ca576;
$grass-green: #66724e;
$dark-green: #424A32;
$bright-green: #668923;
$earth: #887946;
$blue: #1f4496;
$brown: #8d4e3a;

// Fonts
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Amatic SC', cursive;
$font-family-serif: 'Umbrage Regular';

$font-size-base: 16px;
$font-size-smaller: 18px;
$font-size-small: 20px;
$font-size-medium: 22px;
$font-size-big: 26px;
$font-size-large: 28px;
$font-size-h1: 57px;
$font-size-h2: 47px;
$font-size-h3: 38px;
$font-size-h4: 28px;

$font-size-extra-large: 60px;
$font-size-jumbo: 130px;

$line-height-normal: 1;

// Navigation
$nav-pills-border-radius: 0;

$logo-container-height: 330px;

// Event category styles
$school-activities: $blue;
$holiday-clubs: $brown;
$team-building: $green;

// Grid
$grid-gutter-width: 30px;

// Animal sizes
$pig-width: 150px;
$pig-height: 95px;
$eagle-width: 154px;
$eagle-height: 99px;
$deer-width: 122px;
$deer-height: 119px;
$fish-width: 118px;
$fish-height: 100px;
$owl-width: 93px;
$owl-height: 109px;
$hare-width: 142px;
$hare-height: 89px;
$fox-width: 142px;
$fox-height: 109px;
$squirrel-width: 82px;
$squirrel-height: 95px;
