@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "common/fonts";
@import "common/global";
@import "common/icons";
@import "common/mixins";
@import "common/mixins";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "components/calendar";
@import "components/bookings";
@import "components/quotes";
@import "components/trellis";
@import "components/modals";
@import "components/nav";
@import "components/custom.jquery-ui";
@import "components/page-with-menu";
@import "components/search";
@import "components/alerts";
@import "components/contact";
@import "components/feedback";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

.square-box {
  display: block;
  padding-bottom: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;

  > * {
    position: absolute;
    display: block;
    width: 100%;
  }

  &.facebook-box {
    background-color: #F8F9FD;
    overflow: visible;

    .inner {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.calendar-link,
.trophy-link,
.accreditations-link {
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: auto 50%;
  color: $white;
  font-size: 64px;

  @media(min-width: $screen-lg-min) {
    font-size: 36px;
  }

  @media (max-width: $screen-sm-min) {
    height: 200px;
    padding: 10px;
    display: block;
    background-size: auto 50%;
  }

  &:focus,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }

  span {
    top: 75%;
    transform: translateY(-50%);
    @media (max-width: $screen-sm-min) {
      bottom: 20px;
      font-size: 32px;
      left: 0;
      right: 0;
    }
  }
}

.calendar-link {
  background-color: $blue;
  background-image: url('../../assets/images/calendar.png');

  @media (max-width: $screen-sm-min) {
    border-bottom: 5px solid darken($blue, 10%);
  }

  &.alt {
    background-color: $brown;
  }
}

.trophy-link {
  background-color: $green;
  background-image: url('../../assets/images/trophy.png');

  @media (max-width: $screen-sm-min) {
    border-bottom: 5px solid darken($green, 10%);
  }

  &.blue {
    background-color: $blue;
  }
}

.accreditations-link {

  &.credit {
    background-image: url('../../assets/images/aala.png');
    color: white;
  }

  &.support {
    background-image: url('../../assets/images/ld-mountain-logo.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 180px;
    color: black;

    span {
      top: 35%;
    }
  }

  &.light-green {
    background-color: $light-green;
  }

  &.white {
    background-color: white;
  }
}

.with-eagle {
  &:before {
    @extend %eagle;
  }
}

@media (min-width: $screen-sm) {
  .home-trellis {
    .row {
      &.has-bottom-aligned {
        > div[class*='col'] {
          float: none;
          display: inline-block;
        }

        > .bottom-aligned {
          vertical-align: bottom;
        }
      }
    }
  }

  .accreditations-link,
  .calendar-link,
  .trophy-link {
    font-size: $font-size-large;
  }
}

.box {
  position: relative;
  color: white;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: white;
  }

  img {
    width: 100%;
  }

  .top,
  .center,
  .bottom {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    z-index: 2;
  }

  .top {
    top: 25%;
    transform: translateY(-100%);
    text-align: center;
  }

  .center {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .bottom {
    bottom: 5vw;

    @media (min-width: $screen-sm) {
      bottom: 1.5vw;
    }
  }
}

